<% provide(:title)%>

<%= render 'potepan/home/banner' %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'potepan/home/popular_items' %>
    <%= render 'potepan/home/new_items' %>
    <%= render 'potepan/home/useful_articles.html.erb' %>
  </div>
</section>

<%= render 'potepan/home/light_section' %>
