<% provide(:title) %>

<%= render 'banner' %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'popular_items' %>
    <%= render 'new_items', new_products: @latest_products %>
    <%= render 'useful_articles' %>
  </div>
</section>

<%= render 'light_section' %>
