<% provide(:title)%>

<%= render 'banner' %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'popular_items' %>
    <%= render 'new_items' %>
    <%= render 'useful_articles' %>
  </div>
</section>

<%= render 'light_section' %>
